# package directories
node_modules
jspm_packages
package-lock.json

# Serverless directories
.serverless

# nuxt build directory
.nuxt

# template.yml file is generated automatically by the build server
template.yml